.tableBodyFlex{
  display:flex;
}
.tableBodySingle{
  flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableHead{
  background-color:#020724;
}
.comparedTable{
  box-shadow: 2px 2px 10px 1px #02072440;
  background-color:#FFFFFF;
  border-radius:20px;
  overflow: hidden;
}
.centerCellBorder{
  // border-right:1px solid rgba(2, 7, 36, 0.2509803922);
  // border-left:1px solid  rgba(2, 7, 36, 0.2509803922);
}
.rightCellBorder{
  // border-right:1px solid  rgba(2, 7, 36, 0.2509803922);
}
.propertyBox{
  width: 25%;
}

.backgroundGreyCell{
  background-color: #F0F2F2;
}