.shopCategoriesHolderFlex {
  display: flex;
  gap: 50px;
  align-items: center;
  overflow-x: auto;
}
.categoryImageHolder {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.customCategoryButton {
  border: 2px solid #d9d9d9;
}
.filterFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftFilterFlex {
  display: flex;
  gap: 20px;
}
.rightFilterFlex {
  display: flex;
  gap: 10px;
}
.priceSelectionFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.rangeSlider {
  flex-grow: 1;
}
.searchResultFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerWithBg {
  background-size: cover !important;
  background: url("/assets/images/customizeYourJewels.png") no-repeat;
  padding: 40px;
  border-radius: 5px;
  overflow: hidden;
}

//media queries

@media (max-width: 600px) {
  .filterFlex {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
  .priceSelectionFlex {
    gap: 50px;
  }
}
//mat slider
#blueSlider .mat-slider-thumb {
  background-color: blue !important;
}

#blueSlider .mat-slider-track-fill {
  background-color: blue !important;
}

#blueSlider .mat-slider-track-background {
  background-color: lightblue !important; /* Adjust if needed */
}
.noProducts {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 229, 237);
  margin: 10px;
  border-radius: 20px;
}
.tickedClass {
  background-color: #020724 !important;
  color: #ffffff !important;
}
.moreTags {
  display: flex;
  gap: 20px;
}

.customBorderClass{
  border-bottom: 1px solid #D9D9D9;
}
.filterFlexShop{
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.infoFlexFilters{
  display: flex;
  gap:8px;
  align-items: center;
}
.rangeFlex{
  display: flex;
  flex-grow: 1;
  align-items: center;
}