<app-advertisement-header></app-advertisement-header>
<app-header></app-header>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="shopCategoriesHolderFlex width-100">
      <div class="shopCategoryBlock" *ngFor="let category of [1,1,1,1,1,1,1,1]">
        <div class="shopCategoryImageHolder">
          <img src="assets/images/hsopCategoryImage.png">
        </div>
        <p class="font-lato font-18 font-weight-700 letter-spacing-02 text-align-center cursor-pointer line-height-24">Necklaces</p>
      </div>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <div class="filterFlex">
      <div class="leftFilterFlex">
      <button class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2">Bracelets</button>
        <button class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2">Bracelets</button>
        <button class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2">Bracelets</button>
      </div>
      <div class="rightFilterFlex">
        <button class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2">Sort by <i class="fa-solid fa-arrow-right-arrow-left padding-left-10px zero-padding-right "></i></button>
        <button class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2">Filter by <i class="fa-solid fa-sliders padding-left-10px zero-padding-right "></i></button>
      </div>
    </div>
    <div class="priceSelectionFlex pt-5">
      <p class="font-lato font-18 font-weight-700 letter-spacing-02 line-height-19 zero-margin-bottom zero-padding-bottom">Buy by Price Range</p>
      <div class="rangeSlider">
        <mat-slider min="0" max="50000" step="1500" showTickMarks discrete color="accent"  [displayWith]="formatLabel">
          <input matSliderThumb>
        </mat-slider>
      </div>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl ">
    <div class="searchResultFlex py-2">
      <p class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom">2054 Patterns </p>
      <button (click)="open(content)" class="font-lato bg-blue-black none-outline font-16 text-white border-radius-10px font-weight-700 px-4 py-2">Compare 3 products <i class="fa-solid fa-circle-plus padding-left-10px font-18"></i> </button>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12" *ngFor="let x of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <app-product-card
          [islIked]="false"
          [highlightedTag]="'BEST SELLER'"
          [productImage]="'assets/images/cardImage.png'"
          [productName]="'Unclench Oxidized Ring in 925 Silver'"
          [strikedPrice]="1800"
          [discount]="10"
          [price]="1710"
          [hasSimilarProducts]="true"
        >
        </app-product-card>
      </div>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <div class="bannerWithBg width-100">
      <p class="font-lato font-weight-800 letter-spacing-02 line-height-38 text-white font-30 py-1">Customize Your Jewels as you Wish</p>
      <p class="font-lato font-weight-800 letter-spacing-02 line-height-38 text-white font-30 py-1">Buy Customized jewels from Ayraa </p>
      <button class="none-outline border-radius-10px font-lato font-16 line-height-19 font-weight-700 text-black px-4 py-2 mt-2">Customize</button>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl ">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12" *ngFor="let x of [1,1,1,1,1,1,1,1]">
        <app-product-card
          [islIked]="false"
          [highlightedTag]="'BEST SELLER'"
          [productImage]="'assets/images/cardImage.png'"
          [productName]="'Unclench Oxidized Ring in 925 Silver'"
          [strikedPrice]="1800"
          [discount]="10"
          [price]="1710"
          [hasSimilarProducts]="true"
        >
        </app-product-card>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<ng-template #content let-offcanvas>
  <div class="offcanvas-body position-relative">
    <app-compare-product></app-compare-product>
    <div (click)="offcanvas.dismiss('Cross click')" class="closeOffcanvas position-absolute cursor-pointer">
      <i class="fa-solid fa-x text-black font-weight-700 font-14"></i>
    </div>
  </div>
</ng-template>
