<app-advertisement-header></app-advertisement-header>
<app-header></app-header>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="shopCategoriesHolderFlex width-100">
      <div
        class="shopCategoryBlock"
        (click)="hoverClass(i)"
        class="shopCategoryBlock cursor-pointer"
        *ngFor="let category of childCategoryList; let i = index"
      >
        <div id="border{{ i }}" class="shopCategoryImageHolder">
          <div class="categoryCircle overflow-hidden">
            <img
              class="responsiveImage-contain"
              [src]="imageUrl + category.image + imageMetaUrl"
            />
          </div>
        </div>
        <div id="textPad{{ i }}" class="py-2 textClass position-relative">
          <p
            class="font-lato font-18 font-weight-700 letter-spacing-02 text-align-center cursor-pointer line-height-24 zero-margin-bottom zero-padding-bottom"
          >
            {{ category.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <div class="filterFlex">
      <div class="leftFilterFlex">
        <ng-container *ngFor="let tag of tagList.slice(0, 5)">
          <button
            class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
            (click)="markTag(tag._id)"
            [ngClass]="tag?.ticked ? 'tickedClass' : 'untickedClass'"
          >
            {{ tag.name }}
          </button>
        </ng-container>
        <button
          id="moreTagsSelector"
          class="none-outline border-radius-10px tickedClass font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
          (click)="setMoreTags()"
        >
          More
          <i
            class="fa-solid fa-chevron-down padding-left-10px zero-padding-right"
          ></i>
        </button>
      </div>
      <div class="rightFilterFlex">
        <button
          class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
        >
          Sort by
          <i
            class="fa-solid fa-arrow-right-arrow-left padding-left-10px zero-padding-right"
          ></i>
        </button>
        <button
          class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
        >
          Filter by
          <i
            class="fa-solid fa-sliders padding-left-10px zero-padding-right"
          ></i>
        </button>
        <button
          [disabled]="filterBoolean"
          class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
        >
          Clear filters
          <i
            class="fa-regular fa-circle-xmark padding-left-10px zero-padding-right"
          ></i>
        </button>
      </div>
    </div>
    <div *ngIf="moreTags" class="moreTags pt-3">
      <ng-container *ngFor="let tag of tagList.slice(5)">
        <button
          class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 bg-white px-4 py-2"
          (click)="markTag(tag._id)"
          [ngClass]="tag?.ticked ? 'tickedClass' : 'untickedClass'"
        >
          {{ tag.name }}
        </button>
      </ng-container>
    </div>
    <div class="priceSelectionFlex pt-5">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 line-height-19 zero-margin-bottom zero-padding-bottom"
      >
        Buy by Price Range
      </p>

      <mat-slider
        min="0"
        max="50000"
        step="1500"
        showTickMarks
        discrete
        color="accent"
        id="blueSlider"
        [displayWith]="formatLabel"
      >
        <input value="2000" matSliderStartThumb />
        <input value="50000" matSliderEndThumb />
      </mat-slider>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <div class="searchResultFlex py-2">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom"
      >
        2054 Patterns
      </p>
      <button
        (click)="open(content)"
        class="font-lato bg-blue-black none-outline font-16 text-white border-radius-10px font-weight-700 px-4 py-2"
      >
        Compare 3 products
        <i class="fa-solid fa-circle-plus padding-left-10px font-18"></i>
      </button>
    </div>
    <div class="row mt-3">
      <ng-container *ngIf="productList.length != 0; else noProductsFound">
        <div
          class="col-12 col-lg-3 col-md-6 col-sm-12"
          *ngFor="let item of productList"
        >
          <ng-container *ngIf="item.type == 'simple'; else variable">
            <app-product-card
              (valueLiked)="detectValueLiked($event)"
              [productId]="item._id"
              [islIked]="item.isLiked"
              [highlightedTag]="item.tags[0].name"
              [productImage]="imageUrl + item.featuredImage + imageMetaUrl"
              [productName]="item.name"
              [strikedPrice]="item.price"
              [discount]="item.discount"
              [additionalDiscount]="item.additionalDiscount"
              [price]="item.sellingPrice"
              [hasSimilarProducts]="true"
            >
            </app-product-card>
          </ng-container>
          <ng-template #variable>
            <app-product-card
              (valueLiked)="detectValueLiked($event)"
              [productId]="item._id"
              [islIked]="item.isLiked"
              [highlightedTag]="item.tags[0].name"
              [productImage]="imageUrl + item.featuredImage + imageMetaUrl"
              [productName]="item.variants[0].name"
              [strikedPrice]="item.variants[0].price"
              [discount]="item.variants[0].discount"
              [additionalDiscount]="item.variants[0].additionalDiscount"
              [price]="item.variants[0].sellingPrice"
              [hasSimilarProducts]="true"
            >
            </app-product-card>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noProductsFound>
        <div class="noProducts">
          <p
            class="font-lato font-weight-700 font-27 text-align-center zero-margin-bottom zero-padding-bottom"
          >
            NO PRODUCTS FOUND
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <div class="bannerWithBg width-100">
      <p
        class="font-lato font-weight-800 letter-spacing-02 line-height-38 text-white font-30 py-1"
      >
        Customize Your Jewels as you Wish
      </p>
      <p
        class="font-lato font-weight-800 letter-spacing-02 line-height-38 text-white font-30 py-1"
      >
        Buy Customized jewels from Ayraa
      </p>
      <button
        class="none-outline border-radius-10px font-lato font-16 line-height-19 font-weight-700 text-black px-4 py-2 mt-2"
      >
        Customize
      </button>
    </div>
  </div>
</section>
<!-- <section class="default-section-padding">
  <div class="container-xl ">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12" *ngFor="let x of [1,1,1,1,1,1,1,1]">
        <app-product-card
          [islIked]="false"
          [highlightedTag]="'BEST SELLER'"
          [productImage]="'assets/images/cardImage.png'"
          [productName]="'Unclench Oxidized Ring in 925 Silver'"
          [strikedPrice]="1800"
          [discount]="10"
          [price]="1710"
          [hasSimilarProducts]="true"
        >
        </app-product-card>
      </div>
    </div>
  </div>
</section> -->

<app-footer></app-footer>

<ng-template #content let-offcanvas>
  <div class="offcanvas-body position-relative">
    <app-compare-product></app-compare-product>
    <div
      (click)="offcanvas.dismiss('Cross click')"
      class="closeOffcanvas position-absolute cursor-pointer"
    >
      <i class="fa-solid fa-x text-black font-weight-700 font-14"></i>
    </div>
  </div>
</ng-template>
