.suggestedCardHolder{
    border-radius:20px;
    box-shadow: 2px 2px 10px 1px #02072440;
  }
  .displayImageHolder{
    width: 110px !important;
    height: 110px !important;
    box-shadow: 2px 2px 10px 1px rgba(2, 7, 36, 0.2509803922);
    border: 20px;
    overflow: hidden;
    border-radius: 15px;
  }
  .cardFlex{
    display:flex;
    align-items: center;
    gap:20px;
  }
  i {
    font-size: 1rem;
    color: #999999;
  }
  .bottomInfoFlex{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
  }
  .orderHeadingFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }