.blockHolder {
  display: flex;
  align-items: center;
  gap: 40px;
}
.socialIcons {
  display: flex;
  gap: 20px;
  width: 23%;
  align-items: center;

}
.advertisementStrip {
  flex-grow: 1;
}
.marqueeFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fade-in-out {
  transition: opacity 0.5s ease;
}

.fade-in-out.hidden {
  opacity: 0;
}
@media (min-width: 400px) and (max-width: 600px) {
  .socialIcons {
    gap: 14px;
    width: 50%;
  }
}
