<section class="bg-blue-black py-2 px-3">
  <div class="blockHolder">
    <div class="socialIcons">
      <i class="fa-brands fa-facebook-f text-white cursor-pointer"></i>
      <i class="fa-brands fa-instagram text-white cursor-pointer"></i>
      <i class="fa-brands fa-x-twitter text-white cursor-pointer"></i>
      <i class="fa-brands fa-linkedin-in text-white cursor-pointer"></i>
      <i class="fa-brands fa-pinterest-p text-white cursor-pointer"></i>
      <p-inputSwitch class="pt-1" [(ngModel)]="checked" />
    </div>
    <div class="advertisementStrip">
      <marquee direction= left behavior="scroll" loop="infinite">
        <div class="marqueeFlex">
        <p class="text-white font-weight-600 font-lato font-16 zero-margin-bottom zero-padding-bottom" *ngFor="let x of [1,1,1]">  <i class="fa-solid fa-truck-fast text-white flip-opposite"></i> FREE SHIPPING ACROSS INDIA</p>
        </div>
      </marquee>
    </div>
  </div>
</section>
