<section
  [ngClass]="{
    'fade-in-out bg-blue-black': true,
    hidden: isHidden,
    'bg-transparent': false
  }"
  class="fixed-top"
  class="pb-2 positionFixed width-100 postionTopHeader"
>
  <div class="mx-2" id="mainHeader">
    <div class="container-fluid">
      <div class="headerFlex py-2 px-3">
        <div class="aayraLogoFlex">
          <div routerLink="/" class="aayraHeaderLogoHolder">
            <img
              class="responsiveImage-contain"
              src="/assets/images/headerLogoAayra.png"
            />
          </div>
          <svg
            (mouseover)="openMegaMenus()"
            (mouseleave)="closeMegaMenu()"
            class="cursor-pointer"
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="39"
            viewBox="0 0 67 51"
            fill="none"
          >
            <path
              d="M3 3L43 3"
              stroke="white"
              stroke-width="5"
              stroke-linecap="round"
            />
            <path
              d="M3.01562 24.5H64.0484"
              stroke="white"
              stroke-width="5"
              stroke-linecap="round"
            />
            <path
              d="M24.0156 48.5H64.0156"
              stroke="white"
              stroke-width="5"
              stroke-linecap="round"
            />
          </svg>
          <div
            class="categoryItem font-20 text-white font-lato font-weight-700 cursor-pointer uppercase mx-2 small-device-d-none"
            *ngFor="let category of featuredCategoryList"
            (mouseenter)="fetchByPrimary(category._id)"
            (mouseleave)="closePanel()"
            (click)="routeToShop(category.slug)"
          >
            {{ category.name }}
          </div>
        </div>

        <div class="rightPart">
          <div class="input-group small-device-d-none">
            <span class="input-group-text bg-white"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
            <input
              type="text"
              class="form-control border-left-none border-right-none"
              placeholder="Search By Keyword"
            />
            <span class="input-group-text bg-white px-1"
              ><img src="/assets/icons/search_mic.svg"
            /></span>
            <span class="input-group-text bg-white border-left-none px-2"
              ><img src="/assets/icons/search_picture.svg"
            /></span>
          </div>
          <!-- <i
            class="fa-solid fa-user text-black font-21 small-device-d-none cursor-pointer"
          ></i> -->
          <div (click)="openDashboard()" class="cursor-pointer">
            <img src="/assets/icons/profile.svg" />
          </div>
          <!-- <div class="dashboardIconHolder">
            <img
              routerLink="/dashboard"
              class="resposiveImage invertColor cursor-pointer"
              src="assets/icons/menu.png"
            />
          </div> -->
          <div (click)="routeToWishlist()" class="heartHolder cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="27"
              viewBox="0 0 30 27"
              fill="white"
            >
              <path
                d="M0 9.70553C0 16.9999 6.02914 20.887 10.4426 24.3662C12 25.594 13.5 26.7499 15 26.7499C16.5 26.7499 18 25.594 19.5574 24.3662C23.9709 20.887 30 16.9999 30 9.70553C30 2.41112 21.7497 -2.76192 15 4.25082C8.25024 -2.76192 0 2.41112 0 9.70553Z"
                fill="white"
              />
            </svg>
          </div>
          <!-- <i
            class="fa-solid fa-bag-shopping text-black font-21 small-device-d-none cursor-pointer"
          ></i> -->
          <div (click)="routeToCart()" class="cursor-pointer position-relative">
            <img src="assets/icons/cart.svg" />
            <div class="badge">
              <span class="font-18 font-weight-700 font-lato text-white">{{
                cartCount()
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="closePanelBoolean"
      (mouseenter)="openPanel()"
      (mouseleave)="closePanel()"
      class="container-fluid px-3 bg-light-grey py-3 mt-1 socialIcons border-radius-10 small-device-d-none position-relative"
    >
      <div class="categoryItemHolder medium-device-d-none">
        <div
          class="categoryItem font-18 font-lato font-weight-800 cursor-pointer uppercase"
        >
          All Jewellery
        </div>
        <div
          class="categoryItem font-18 font-lato font-weight-800 cursor-pointer uppercase dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngFor="let item of secondaryCategoryList"
          (click)="fetchBySecondary(item._id)"
        >
          {{ item.name }}
        </div>
        <ul class="dropdown-menu p-2">
          <li *ngFor="let category of tertiaryCategoryList">
            <a
              class="dropdown-item font-17 font-lato font-weight-800 cursor-pointer uppercase"
              >{{ category.name }}</a
            >
          </li>
        </ul>
      </div>
      <!-- <div class="closePanel cursor-pointer">
        <i class="fa-regular fa-circle-xmark fa-2x "></i>
      </div> -->
    </div>
    <div
      *ngIf="megaMenuBoolean"
      (mouseover)="openMegaMenus()"
      (mouseleave)="closeMegaMenu()"
      class="container-fluid px-3 bg-light-grey py-3 mt-1 socialIcons border-radius-10 small-device-d-none position-relative"
    >
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let primary of allCategories">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
              <p class="text-aayra-red font-24 font-weight-800 pb-2">
                {{ primary.name }}
              </p>
              <ng-container *ngFor="let secondary of primary.secondary">
                <div class="secondaryCategories">
                  <p class="font-20 font-weight-600 text-aayra-red">
                    {{ secondary.name }}
                  </p>
                  <ng-container *ngFor="let tertiary of secondary.tertiary">
                    <div class="tertiaryCategories">
                      <p class="font-16 font-weight-600  text-black">
                       
                        {{ tertiary.name }}
                        <!-- <i
                          *ngIf="tertiary.quaternary.length > 0"
                          class="fa-solid fa-angle-down font-14 mx-2"
                        ></i> -->
                      </p>
                      <ng-container
                        *ngFor="let quaternary of tertiary.quaternary"
                      >
                        <div class="quaternaryCategories">
                          <p class="font-16 font-weight-600  text-black">
                           
                            {{ quaternary.name }}
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header bg-black">
    <h4
      class="offcanvas-title zero-margin-bottom zero-padding-bottom font-lato font-weight-600 font-30 text-white"
    >
      ALL CATEGORIES
    </h4>
    <button
      type="button"
      class="btn-close crossBtnCategories"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
</ng-template>
