<div class="suggestedCardHolder p-4 my-2">
  <div class="cardFlex">
    <div class="displayImageHolder">
      <img class="responsiveImage" src="{{productImage}}">
    </div>
    <div>
      <p class="font-lato font-18 font-weight-700 line-height-24 letter-spacing-04 text-black">{{productName}}</p>
      <p class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 text-discount-grey">Product Code: {{productCode}}</p>
      <i *ngFor="let x of [].constructor(rating)" class="fa-solid fa-star px-1"></i>
      <span class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 text-black">{{rating}} star</span>
    </div>
  </div>
  <div class="bottomInfoFlex pt-3">
    <div>
    <p class="text-decoration-line-through font-lato font-14 text-black font-weight-700 letter-spacing-02 line-height-13 text-align-left zero-margin-bottom py-1 ">₹ {{strikedPrice}}
      <ng-container *ngIf="additionalDiscount==0;else withAdditionalDiscount">
        <span class="font-lato text-decoration-none font-13 text-black font-weight-600 letter-spacing-02 line-height-13 px-2">
          {{discount}} % OFF
        </span>
      </ng-container>
      <ng-template #withAdditionalDiscount>
        <span class="font-lato text-decoration-none font-13 text-black font-weight-600 letter-spacing-02 line-height-13 px-2">
          ({{discount}} + {{additionalDiscount}} ) % OFF
        </span>
      </ng-template>
 
    </p>
    <p class=" text-black font-lato font-weight-700 font-16 letter-spacing-02 line-height-24 text-align-left zero-margin-bottom zero-padding-bottom">₹ {{price}}</p>
    </div>
    <button class="none-outline font-lato font-18 font-weight-700 bg-white text-black border-radius-10px px-3 py-2">
      Add To Cart
    </button>
    </div>
</div>
