<app-advertisement-header></app-advertisement-header>
<app-header></app-header>
<section class="default-section-padding firstSection">
  <div class="container-xl">
    <div class="breadcrumb">
      <i
        (click)="goBack()"
        class="fa-solid fa-arrow-left fa-2x cursor-pointer"
      ></i>
      <p
        class="font-lato font-weight-700 text-black font-14 letter-spacing-04 zero-padding-bottom zero-margin-bottom line-height-19"
      >
        <span class="cursor-pointer" routerLink="/"> Home </span>
        <span> > </span>
        <span> {{ product.primary.name }} </span>
        <span> > </span>
        <span> {{ product.secondary.name }} </span>
        <span> > </span>
        <span> {{ product.tertiary.name }} </span>
        <span> > </span>
        <span> {{ product.quaternary.name }} </span>
      </p>
    </div>
  </div>
</section>

<section class="default-section-padding zero-padding-top">
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="productImageShowcase">
          <div class="swiper-head bg-white small-device-d-none">
            <div class="vertical-swiper-container">
              <div class="swiper-wrapper">
                <swiper [config]="verticalSwiperOptions">
                  //#verticalSwiperRef
                  <ng-template
                    swiperSlide=""
                    *ngFor="let image of product.images"
                  >
                    <div class="thumbnailImageSpacing">
                      <div class="thumbnailHolder border-radius-5px">
                        <img
                          class="responsiveImage"
                          src="{{ imageUrl }}{{ image }}{{ imageMetaUrl }}"
                        />
                      </div>
                    </div>
                  </ng-template>
                </swiper>
              </div>
            </div>
          </div>
          <div class="previewedImage">
            <div class="previewed-swiper-container">
              <div class="swiper-wrapper">
                <swiper [config]="previewedSwiperOptions">
                  //[thumbs]="swiperRef"
                  <ng-template
                    swiperSlide=""
                    *ngFor="let item of product.images"
                  >
                    <div class="previewedImageHolder">
                      <img
                        class="responsiveImage"
                        src="{{ imageUrl }}{{ item }}{{ imageMetaUrl }}"
                      />
                    </div>
                  </ng-template>
                </swiper>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <p
          class="font-lato font-weight-700 font-24 text-black line-height-24 letter-spacing-03 py-1"
        >
          {{ product.name }}
        </p>
        <p
          class="font-lato font-weight-700 font-20 text-discount-grey line-height-24 letter-spacing-04 py-1"
        >
          Product Code:<span class="px-2">{{ product.productCode }}</span>
        </p>
        <div class="alignSHareCenter py-1">
          <i
            class="fa-solid fa-share-nodes padding-right-10px fa-2x cursor-pointer"
          ></i>
          <p
            class="zero-padding-bottom zero-margin-bottom font-lato font-weight-700 font-18 text-black line-height-24 letter-spacing-02 py-1"
          >
            Share this product with your loved ones
          </p>
        </div>
        <div class="pricingDetails py-2">
          <p
            class="font-lato font-27 font-weight-700 text-black line-height-24 zero-margin-bottom zero-padding-bottom"
          >
            ₹ {{product.sellingPrice}}
          </p>
          <p
            class="font-lato font-18 font-weight-700 text-black line-height-24 zero-margin-bottom zero-padding-bottom text-decoration-line-through"
          >
            ₹ {{product.price}}
          </p>

          <ng-container *ngIf="product.additionalDiscount==0;else withAdditionalDiscount">
            <p
            class="font-lato font-16 font-weight-700 text-red line-height-24 zero-margin-bottom zero-padding-bottom"
          >
            {{product.discount}} % OFF 
          </p>
          </ng-container>
          <ng-template #withAdditionalDiscount>
            <p
            class="font-lato font-16 font-weight-700 text-red line-height-24 zero-margin-bottom zero-padding-bottom"
          >
            ({{product.discount}}+{{product.additionalDiscount}}) % OFF 
          </p>
            </ng-template>
      
        </div>
        <small class="font-lato font-weight-700"
          >(Inclusive of all taxes)</small
        >
        <!-- <p
          class="py-2 font-lato font-18 font-weight-700 text-black line-height-24"
        >
          Size:
        </p>
        <div class="size-options">
          <div *ngFor="let radio of sizeArray">
            <input
              type="radio"
              id="{{ radio.value }}"
              name="size"
              [value]="radio.value"
              [checked]="radio.value === selectedSize"
              (change)="onSizeChange(radio.value)"
            />
            <label for="{{ radio.value }}">{{ radio.value }} mm</label>
          </div>
        </div> -->
        <div class="weightFlex py-2">
          <div class="pt-2">
            <p
              class="font-lato font-18 font-weight-700 text-black line-height-24"
            >
              Weight (g) :
            </p>
            <p
              class="font-lato font-weight-700 text-black line-height-24 font-18"
            >
              {{product.weight}} Grams
            </p>
          </div>
          <div>
            <i
              class="fa-solid fa-ruler text-black fa-3x padding-right-10px"
            ></i>
            <span
              class="font-lato font-weight-700 text-black line-height-24 font-18"
              >Size Chart</span
            >
          </div>
        </div>
        <ng-container *ngIf="product.type=='variant'">
        <p
          class="py-1 font-lato font-18 font-weight-700 text-black line-height-24"
        >
          Colour:
        </p>
        <div class="color-options">
          <div *ngFor="let color of colorArray">
            <input
              type="radio"
              id="{{ color.value }}"
              name="color"
              [value]="color.value"
              [checked]="color.value === selectedColor"
              (change)="onColorChange(color.value)"
            />
            <label
              [style.background-color]="color.value"
              [for]="color.value"
            ></label>
            <p
              class="text-align-center font-10 font-lato font-weight-700 text-black line-height-13"
            >
              {{ color.name }}
            </p>
          </div>
        </div>
      </ng-container>
        <p
          class="pt-1 font-lato font-18 font-weight-700 text-black line-height-24"
        >
          Buy It With :
        </p>
        <ng-container *ngIf="product.buyItWithVariants.length==0; else variable">
        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
          <app-suggested-product-card
            [productImage]="imageUrl+product.buyItWith[0].featuredImage+imageMetaUrl"
            [productName]="product.buyItWith[0].name"
            [productCode]="product.buyItWith[0].productCode"
            [rating]="5"
            [strikedPrice]="product.buyItWith[0].price"
            [discount]="product.buyItWith[0].discount"
            [additionalDiscount]="product.buyItWith[0].additionalDiscount"
            [price]="product.buyItWith[0].sellingPrice"
          >
          </app-suggested-product-card>
        </div>
        </ng-container>
        <ng-template #variable>
          <div class="col-12 col-lg-7 col-md-7 col-sm-12">
            <app-suggested-product-card
            [productImage]="imageUrl+product.buyItWith[0].featuredImage+imageMetaUrl"
            [productName]="product.buyItWithVariants[0].name"
            [productCode]="product.buyItWith[0].productCode"
            [rating]="5"
            [strikedPrice]="product.buyItWithVariants[0].price"
            [discount]="product.buyItWithVariants[0].discount"
            [additionalDiscount]="product.buyItWithVariants[0].additionalDiscount"
            [price]="product.buyItWithVariants[0].sellingPrice"
            >
            </app-suggested-product-card>
          </div>
        </ng-template>
        <p
          class="pt-2 font-lato font-18 font-weight-700 text-black line-height-24"
        >
          <i class="fa-solid fa-truck text-black padding-right-10px"></i
          >Delivery Date:
        </p>
        <input
          class="customInputFooter bg-white p-2 width-70Percent font-weight-400 font-16 text-black line-height-19 mb-2"
          type="number"
          placeholder="Enter Pincode"
        />
        <button
          class="font-lato text-white font-weight-600 font-16 bg-blue-black px-3 py-2 border-radius-5px mx-2"
        >
          {{ expectedDeliveryDate | date }}
        </button>

        <div class="row mt-2">
          <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <button
              class="width-100 buyBtn text-white bg-blue-black font-lato font-weight-700 font-20 border-radius-10px letter-spacing-02 line-height-24 py-3"
            >
              Buy Now
            </button>
          </div>
          <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <button
              class="width-100 cartBtn text-black bg-white font-lato font-20 font-weight-700 border-radius-10px letter-spacing-02 line-height-24 py-3"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="modifyProductTabs" class="default-section-padding">
  <div class="container-xl">
    <div class="centerAlignTabHeadings">
      <tabset type="pills">
        <tab
          *ngFor="let tab of productTabs"
          [heading]="tab.name"
          (click)="onTab(tab.name)"
          (selectTab)="onTab(tab.name)"
        >
        </tab>
      </tabset>
    </div>
  </div>
  <div class="container-xl mt-3" id="faqAccordianSections">
    <div
      *ngIf="!showFaqs"
      #infoPara
      class="font-lato font-weight-600 letter-spacing-03 line-height-38 font-16"
      [innerHTML]="product.productDescription"
    >
      <div></div>
    </div>
    <div *ngIf="showFaqs">
      <div *ngFor="let items of product.faqs" ngbAccordion>
        <div ngbAccordionItem [collapsed]="true">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ items.question }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <p
                  class="font-lato font-16 font-weight-600 zero-margin-bottom zero-padding-bottom"
                >
                  {{ items.answer }}
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="searchResultFlex">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom"
      >
        Frequently Bought Together :
      </p>
    </div>
    <div class="row">
      <div
        class="col-12 col-lg-4 col-md-4 col-sm-12"
        *ngFor="let card of product.frequentlyBoughtTogether.slice(0,3)"
      >
      <ng-container *ngIf="card.type!='variable';else simpleFrequent">
        <app-suggested-product-card
        [productImage]="imageUrl+card.featuredImage+imageMetaUrl"
        [productName]="card.name"
        [productCode]="card.productCode"
        [rating]="5"
        [strikedPrice]="card.price"
        [discount]="card.discount"
        [additionalDiscount]="card.additionalDiscount"
        [price]="card.sellingPrice"
      >
      </app-suggested-product-card>
      </ng-container>
      <ng-template #simpleFrequent>
        <app-suggested-product-card
        [productImage]="imageUrl+card.featuredImage+imageMetaUrl"
        [productName]="card.variants[0].name"
        [productCode]="card.productCode"
        [rating]="5"
        [strikedPrice]="card.variants[0].price"
        [discount]="card.variants[0].discount"
        [additionalDiscount]="card.variants[0].additionalDiscount"
        [price]="card.variants[0].sellingPrice"
      >
      </app-suggested-product-card>
      </ng-template>
        
      </div>
    </div>
  </div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="bannerContainer">
      <img class="responsiveImage" [src]="imageUrl+product.bannerImage+imageMetaUrl" />
    </div>
  </div>
</section>

<section class="default-section-padding bh-section-grey">
  <div class="container-xl">
    <div class="badgeFlex">
      <div class="singleBadge" *ngFor="let item of product.benefits">
        <div class="benefitIconHolder">
          <img
            class="responsiveImage-contain"
            src="{{ imageUrl }}{{ item.icon }}{{ imageMetaUrl }}"
          />
        </div>
        <p
          class="text-black font-lato font-weight-700 line-height-19 font-16 py-2 letter-spacing-02 zero-margin-bottom"
        >
          {{ item.title }}
        </p>
        <p
          class="text-black font-lato font-weight-600 line-height-19 font-13 letter-spacing-02"
        >
          {{ item.subTitle }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="searchResultFlex">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom"
      >
        Recommended Products :
      </p>
    </div>

    <swiper [config]="RecommendedSwiperOptions">
      <ng-template swiperSlide="" *ngFor="let card of product.similarProducts">
        <ng-container *ngIf="card.type=='simple';else variableSwiper">
          <app-product-card
          [islIked]="card.liked" 
          [productImage]="imageUrl+card.featuredImage+imageMetaUrl"
          [productName]="card.name"
          [strikedPrice]="card.price"
          [discount]="card.discount"
          [additionalDiscount]="card.additionalDiscount"
          [price]="card.sellingPrice"
          [hasSimilarProducts]="false"
          [productId]="card._id"
        >
        </app-product-card>
        </ng-container>
        <ng-template #variableSwiper>
          <app-product-card
          [islIked]="card.liked"
          [productId]="card._id"
          [additionalDiscount]="card.similarProductVariant[0].additionalDiscount"
          [productImage]="imageUrl+card.featuredImage+imageMetaUrl"
          [productName]="card.name"
          [strikedPrice]="card.similarProductVariant[0].price"
          [discount]="card.similarProductVariant[0].discount"
          [price]="card.similarProductVariant[0].price"
          [hasSimilarProducts]="false"
        >
        </app-product-card>
        </ng-template>
   
      </ng-template>
    </swiper>
  </div>
</section>

<section class="default-section-padding">
  <app-compare-product></app-compare-product>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="rewardsBanner bg-blue-black">
      <div class="rupeeImageHolder">
        <img class="responsiveImage" src="assets/images/rupeeImage.png" />
      </div>
      <div>
        <p
          class="text-white font-weight-700 font-27 line-height-38 letter-spacing-02 py-2"
        >
          Complete Profile and Earn ₹1500 on your first order!
        </p>
        <p
          class="text-white font-weight-700 font-27 line-height-38 letter-spacing-02 py-2"
        >
          You can now redeem exclusive Points on all your orders!
        </p>
      </div>
      <div>
        <button
          class="font-weight-700 text-black font-20 px-4 py-3 border-radius-10px"
        >
          LOG IN
        </button>
      </div>
    </div>
  </div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
    <p
      class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 text-align-center zero-padding-bottom zero-margin-bottom"
    >
      Recommended Products :
    </p>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <div class="fixToCenter height-100perCent">
          <div>
            <p class="test-icon-star text-align-center py-2">
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
            </p>
            <p
              class="font-lato font-weight-700 font-20 line-height-24 text-black text-align-center"
            >
              {{averageRating}} out of 5 Based on {{ratingOverview.totalRatings}} Reviews
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <div class="ratingProgressBarContainer">
          <div class="reviewFlex py-2">
            <div>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
            </div>
            <div class="progressBarWidth">
              <progressbar [value]="progressValue(ratingOverview.ratings['5'],ratingOverview.totalRatings)"></progressbar>
            </div>
            <div>
              <p
                class="font-lato font-weight-700 font-20 line-height-24 zero-padding-bottom zero-margin-bottom"
              >
               5
              </p>
            </div>
          </div>
          <div class="reviewFlex py-2">
            <div>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x text-discount-grey"></i>
            </div>
            <div class="progressBarWidth">
              <progressbar [value]="progressValue(ratingOverview.ratings['4'],ratingOverview.totalRatings)"></progressbar>
            </div>
            <div>
              <p
                class="font-lato font-weight-700 font-20 line-height-24 zero-padding-bottom zero-margin-bottom"
              >
               4
              </p>
            </div>
          </div>
          <div class="reviewFlex py-2">
            <div>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
            </div>
            <div class="progressBarWidth">
              <progressbar [value]="progressValue(ratingOverview.ratings['3'],ratingOverview.totalRatings)"></progressbar>
            </div>
            <div>
              <p
                class="font-lato font-weight-700 font-20 line-height-24 zero-padding-bottom zero-margin-bottom"
              >
               3
              </p>
            </div>
          </div>
          <div class="reviewFlex py-2">
            <div>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
            </div>
            <div class="progressBarWidth">
              <progressbar [value]="progressValue(ratingOverview.ratings['2'],ratingOverview.totalRatings)"></progressbar>
            </div>
            <div>
              <p
                class="font-lato font-weight-700 font-20 line-height-24 zero-padding-bottom zero-margin-bottom"
              >
               2
              </p>
            </div>
          </div>
          <div class="reviewFlex py-2">
            <div>
              <i class="fa-solid fa-star padding-right-10px fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
              <i class="fa-solid fa-star padding-right-10px text-discount-grey fa-2x"></i>
            </div>
            <div class="progressBarWidth">
              <progressbar [value]="progressValue(ratingOverview.ratings['1'],ratingOverview.totalRatings)"></progressbar>
            </div>
            <div>
              <p
                class="font-lato font-weight-700 font-20 line-height-24 zero-padding-bottom zero-margin-bottom"
              >
               1
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <div class="fixToCenter height-100perCent">
          <div>
            <button
              (click)="open(content)"
              class="reviewShadows none-outline mx-2 my-3 border-radius-10px bg-blue-black text-white px-5 py-3 font-weight-700 letter-spacing-04 display-block"
            >
              Write a Review
            </button>
            <button
              class="none-outline reviewShadows mx-2 my-3 border-radius-10px bg-white text-black px-5 py-3 font-weight-700 letter-spacing-04 display-block"
              (click)="openLg(contentQuestion)"
            >
              Ask a Question
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="reviewSection" class="reviewTags">
      <tabset type="pills">
        <tab heading="Reviews">
          <div class="mt-4 pb-4 commentBorderBottom">
            <ng-container *ngFor="let item of reviweSorterArray">
            <button
            (click)="sortReviews(item)"
              style="margin-left: 0 !important"
              [ngClass]="item.checked?'text-white bg-blue-black':' text-black bg-white'"
              class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 px-4 py-2 mx-2"
            >
              {{item.label}}
            </button>
          </ng-container>
            
          </div>
          <div
            class="py-2 my-2 commentBorderBottom"
            *ngFor="let review of reviews"
          >
            <div class="comment">
              <div>
                <i *ngFor="let _ of [].constructor(review.rating); let i = index" class="fa-solid fa-star test-icon-star"></i>               
              </div>
              <div class="commentFlex py-2">
                <div class="userImageHolder">
                  <img
                    class="responsiveImage"
                    src="assets/images/userImage.png"
                  />
                </div>
                <p
                  class="font-lato font-weight-700 font-16 line-height-19 zero-margin-bottom zero-padding-bottom text-black"
                >
                  {{review.uid.username}} <span *ngIf="review.isVerified"><i class="fa-regular fa-circle-check mx-1"></i></span>
                </p>
              </div>
              <p
                class="font-18 font-lato font-weight-700 text-black line-height-24"
              >
                {{review.message}}
              </p>
              <div class="imagesFlexReview">
                <div *ngFor="let productImages of review.images" class="reviewedProductImageHolder m-2">
                  <img   class="responsiveImage" src="{{imageUrl}}{{productImages}}{{imageMetaUrl}}"/>
                </div>
              </div>
              <div class="otherHelpRelatedParts">
                <p class="font-13 font-lato font-weight-500 " *ngIf="review.foundHelpfulCount>0">{{review.foundHelpfulCount}} people found this helpful</p>
                <button (click)="upvoteHelpful(review._id)" *ngIf="!review.hasAlreadyVoted;else afterHelpFulView" class="helpfulBtn">Helpful</button>
                <ng-template #afterHelpFulView>
                  <button class="helpfulBtn"><i class="fa-regular fa-circle-check text-discount-grey"></i> Thank you for your feedback.</button>
                </ng-template>
               
                <span class="font-14 font-lato font-weight-600 text-black mx-3 cursor-pointer">Report</span>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Questions">

          <div class="mt-4 pb-4 commentBorderBottom">
            <ng-container *ngFor="let item of qAndASorterArray">
            <button
            (click)="sortQuestions(item)"
              style="margin-left: 0 !important"
              [ngClass]="item.checked?'text-white bg-blue-black':' text-black bg-white'"
              class="none-outline border-radius-10px customCategoryButton font-lato font-weight-700 line-height-24 letter-spacing-02 px-4 py-2 mx-2"
            >
              {{item.label}}
            </button>
          </ng-container>
            
          </div>
          <div
            class="py-2 my-2 commentBorderBottom"
            *ngFor="let question of questions"
          >
            <div class="comment">
            
              <div class="commentFlex py-2">
                <div class="userImageHolder">
                  <img
                    class="responsiveImage"
                    src="assets/images/userImage.png"
                  />
                </div>
                <p
                  class="font-lato font-weight-700 font-16 line-height-19 zero-margin-bottom zero-padding-bottom text-black"
                >
                  {{question.user_id.username}} 
                </p>
              </div>
              <p
                class="font-16 font-lato font-weight-700 text-black line-height-24"
              >
                Q : {{question.question}}
              </p>
              <p
              class="font-16 font-lato font-weight-600 text-black line-height-24"
            >
              A : <span *ngIf="question.status;else unanswered">{{question.answer}} </span> <ng-template #unanswered><span>the question will be answered soon</span></ng-template>
            </p>
            
            </div>
          </div>

        </tab>
      </tabset>
    </div>
  </div>
</section>

<app-footer></app-footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <p
      class="font-20 font-lato text-black zero-margin-bottom zero-padding-bottom font-weight-700"
    >
      Write a review
    </p>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reviewForm">
      <div class="mb-3">
        <div class="row">
          <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <label>Rating:</label>
            <div class="ratingHolder">
              <ngb-rating formControlName="rating" class="styleStars" />
            </div>
          </div>
          <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3">
            <label>Message:</label>
            <textarea
              formControlName="message"
              class="width-100 p-2"
              rows="5"
            ></textarea>
          </div>
          <div class="col-12 col-lg-12 col-md-4 col-sm-12">
            <label
              class="display-block font-lato font-14 font-weight-700 line-height-24 letter-spacing-04 pb-1"
              >Upload Image</label
            >
            <div class="file-upload">
              <input (change)="onUpload($event)" type="file" id="fileInput" />
              <label for="fileInput">Choose a file</label>
              <span id="fileName">No file chosen</span>
            </div>
            <div
              *ngIf="uploadedProductImages.length > 0"
              class="uploadedImagesFlex mt-2"
            >
              <div *ngFor="let image of uploadedProductImages">
                <div class="uploadedImageHolder m-2">
                  <img class="responsiveImage" src="{{ imageUrl }}{{ image }}{{ imageMetaUrl }}" />
                  <div (click)="removeImage(image)" class="crossImage">
                    <i class="fa-regular fa-circle-xmark text-white"></i>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="reviewForm.invalid"
      type="button"
      class="saveReviewBtn"
      (click)="saveReview()"
    >
      Submit
    </button>
  </div>
</ng-template>

<ng-template #contentQuestion let-modal>
  <div class="modal-header">
    <p
      class="font-20 font-lato text-black zero-margin-bottom zero-padding-bottom font-weight-700"
    >
      Ask a question
    </p>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="qAndAform">
      <div class="mb-3">
        <div class="row">
          
          <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3">
            <label>Question:</label>
            <textarea
              formControlName="question"
              class="width-100 p-2"
              rows="5"
            ></textarea>
          </div>
          
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="qAndAform.invalid"
      type="button"
      class="saveReviewBtn"
      (click)="saveQuestion()"
    >
      Submit
    </button>
  </div>
</ng-template>

<p-toast></p-toast>