<div class="breadCrumb">
    <p class="menuTitle">My account > Wishlist</p>
</div>

<div class="col-12 col-lg-6 col-md-8 col-sm-12">
    <div class="suggestedCardHolder p-4 mt-5">
      <div class="cardFlex">
        <div class="displayImageHolder">
          <img class="responsiveImage" src="assets/images/cardImage.png" />
        </div>
        <div>
          <p
            class="font-lato font-18 font-weight-700 line-height-24 letter-spacing-04 text-black"
          >
            Men\'s 22KT Gold Ring with Dazzling
          </p>
          <p
            class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 text-discount-grey"
          >
            Product Code: 64A288075
          </p>
          <p
            class="text-black font-lato font-weight-700 font-16 letter-spacing-02 line-height-24 text-align-left zero-margin-bottom zero-padding-bottom"
          >
            ₹ 0
          </p>
        </div>
      </div>
      <div class="bottomInfoFlex pt-3">
        <div>
          <button
            class="none-outline font-lato font-18 font-weight-700 bg-white bg-blue-black border-radius-10px px-3 py-2 mx-2"
          >
            Remove
          </button>
          <button
            class="font-lato font-18 font-weight-700 bg-blue-black text-white border-radius-10px px-3 py-2"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>