<div class="breadCrumb">
    <p class="menuTitle">My account > Reset Password</p>
</div>
<div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <label
                  class="display-block font-lato font-14 font-weight-700 line-height-24 letter-spacing-04 pb-1"
                  >Current Password</label
                >
                <input
                  id="passwordCustom"
                  type="text"
                  class="default-border default-box-shadow border-radius-10px padding-10 height-50px width-100 mb-3"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="currentPassword"
                />
              </div>
              <small
                *ngIf="
                  f['currentPassword'].touched &&
                  f['currentPassword'].invalid &&
                  f['currentPassword'].errors['required']
                "
                >field is required</small
              >
              <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <label
                  class="display-block font-lato font-14 font-weight-700 line-height-24 letter-spacing-04 pb-1"
                  >New Password</label
                >
                <input
                  id="passwordCustom"
                  type="text"
                  class="default-border default-box-shadow border-radius-10px padding-10 height-50px width-100 mb-3"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="newPassword"
                />
              </div>
              <small
                *ngIf="
                  f['newPassword'].touched &&
                  f['newPassword'].invalid &&
                  f['newPassword'].errors['required']
                "
                >field is required</small
              >
              <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <label
                  class="display-block font-lato font-14 font-weight-700 line-height-24 letter-spacing-04 pb-1"
                  >Confirm Password</label
                >
                <input
                  id="passwordCustom"
                  type="text"
                  class="default-border default-box-shadow border-radius-10px padding-10 height-50px width-100 mb-3"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="confirmPassword"
                />
              </div>
              <small
                *ngIf="
                  f['confirmPassword'].touched &&
                  f['confirmPassword'].invalid &&
                  f['confirmPassword'].errors['required']
                "
                >field is required</small
              >
        </div>
        
    </form>
    <button
    class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 text-white bg-blue-black px-3 py-2 border-radius-5px"
  >
    Submit
  </button>
</div>