<app-advertisement-header></app-advertisement-header>
<app-header></app-header>
<section class="firstSection">
  <div class="container-xl">
    <div
      class="navigation padding-y-2rem width-50 d-flex justify-space-between"
    >
      <i class="fa-solid font-21 font-weight-700 fa-arrow-left"></i>
      <p
        class="font-lato font-21 font-weight-700 text-align-center letter-spacing-02 text-black line-height-24"
      >
        Shopping Cart
      </p>
    </div>
    <div class="">
      <div class="row">
        <div class="col-12 col-lg-7">
          <ng-container *ngIf="cartCards.length>0;else noCartProducts">
          <ng-container *ngFor="let card of cartCards">
            <ng-container *ngIf="card.variantId == null; else withVariant">
              <app-product-card-cart
              (cartChange)="updateCart($event)"
                [cardId]="card._id"
                [variantId]="card.variantId"
                [productId]="card.productId._id"
                [productImage]="
                  imageUrl + card.productId.featuredImage + imageMetaUrl
                "
                [productName]="card.productId.name"
                [productCode]="card.productId.productCode"
                [strikedPrice]="card.productId.price"
                [weight]="card.productId.weight"
                [quantity]="card.quantity"
                [price]="card.productId.sellingPrice"
              >
              </app-product-card-cart>
            </ng-container>
            <ng-template #withVariant>
              <app-product-card-cart
              (cartChange)="updateCart($event)"
                [cardId]="card._id"
                [variantId]="card.variantId"
                [productId]="card.productId._id"
                [productImage]="
                  imageUrl + card.variantId.images[0] + imageMetaUrl
                "
                [productName]="card.variantId.name"
                [productCode]="card.productId.productCode"
                [strikedPrice]="card.variantId.price"
                [weight]="card.variantId.weight"
                [quantity]="card.quantity"
                [price]="card.variantId.sellingPrice"
              >
              </app-product-card-cart>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #noCartProducts>
          <div class="noProducts">
            <p
              class="font-lato font-weight-700 font-27 text-align-center zero-margin-bottom zero-padding-bottom"
            >
              NO PRODUCTS FOUND
            </p>
          </div>
        </ng-template>
        </div>

        <div class="col-12 col-lg-5">
          <div class="appliedCoupons mb-2">
            <div class="couponNameFlex">
              <div class="discountBox">
                <i class="fa-solid fa-percent"></i>
              </div>
              <div>
                <p
                  class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
                >
                  FLAT 1000
                </p>
                <p
                  class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom pt-1"
                >
                  Save upto ₹1000 on this Order
                </p>
              </div>
            </div>
            <div>
              <p
                class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom test-icon-star cursor-pointer"
              >
                Apply
              </p>
            </div>
          </div>
          <div
            (click)="openBackDropCustomClass(content)"
            class="moreCoupons cursor-pointer"
          >
            <p
              class="font-18 font-weight-700 text-white font-lato zero-margin-bottom zero-padding-bottom width=100 text-align-center"
            >
              Apply More Coupons
            </p>
          </div>
          <div class="pincodeInfo my-4">
            <div class="couponNameFlex">
              <div class="discountBox">
                <i class="fa-solid fa-location-crosshairs"></i>
              </div>
              <div>
                <p
                  class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
                >
                  Deliver to Pincode
                </p>
              </div>
            </div>
            <div>
              <p
                class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom test-icon-star cursor-pointer"
              >
                Change Pincode
              </p>
            </div>
          </div>
          <div class="bill">
            <div class="billItemFlex">
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                Item Total
              </p>
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                <i class="fa-solid fa-indian-rupee-sign"></i> {{billDetails.itemTotal}}
              </p>
            </div>
            <div class="billItemFlex">
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                You Saved
              </p>
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                <i class="fa-solid fa-indian-rupee-sign"></i> 0
              </p>
            </div>
            <div class="billItemFlex">
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                Coupon Discount
              </p>
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                <i class="fa-solid fa-indian-rupee-sign"></i> 0
              </p>
            </div>
            <div class="billItemFlex mb-3">
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                Shipping (standard)
              </p>
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                <i class="fa-solid fa-indian-rupee-sign"></i> {{billDetails.shippingPrice}}
              </p>
            </div>
            <div class="billItemFlex border-top-black">
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom mt-3"
              >
                Bill Total
              </p>
              <p
                class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
              >
                <i class="fa-solid fa-indian-rupee-sign"></i> {{billDetails.priceToPay}}
              </p>
            </div>
          </div>
          <div class="submitCheckouts mt-5">
            <button
              class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 text-white bg-blue-black px-3 py-2 border-radius-5px"
              routerLink="/cart-add-ons"
            >
              Proceed to Checkout
            </button>
          </div>
          <div class="submitCheckouts mt-3">
            <a
              routerLink="/shop"
              class="font-lato font-16 font-weight-700 line-height-24 letter-spacing-04 cursor-pointer text-black"
              >Continue Shopping</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="searchResultFlex">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom"
      >
        Frequently Bought Together :
      </p>
    </div>
    <div class="row">
      <div
        class="col-12 col-lg-4 col-md-4 col-sm-12"
        *ngFor="let card of [1, 1, 1]"
      >
        <app-suggested-product-card
          [productImage]="'assets/images/cardImage.png'"
          [productName]="'Men\'s 22KT Gold Ring with Dazzling '"
          [productCode]="'64A288075'"
          [rating]="5"
          [strikedPrice]="1800"
          [discount]="10"
          [price]="1710"
        >
        </app-suggested-product-card>
      </div>
    </div>
  </div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
    <div class="searchResultFlex">
      <p
        class="font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24 zero-padding-bottom zero-margin-bottom"
      >
        Recommended Products :
      </p>
    </div>

    <swiper [config]="RecommendedSwiperOptions">
      <ng-template swiperSlide="" *ngFor="let x of [1, 1, 1, 1]">
        <app-product-card
          [islIked]="false"
          [highlightedTag]="'BEST SELLER'"
          [productImage]="'assets/images/cardImage.png'"
          [productName]="'Unclench Oxidized Ring in 925 Silver'"
          [strikedPrice]="1800"
          [discount]="10"
          [price]="1710"
          [hasSimilarProducts]="false"
        >
        </app-product-card>
      </ng-template>
    </swiper>
  </div>
</section>

<app-footer></app-footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title zero-margin-bottom font-lato font-18 font-weight-700 letter-spacing-02 text-black line-height-24"
    >
      Apply Coupon
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <input class="couponInput" placeholder="Enter Coupon Code" />
  </div>
  <div class="modal-body-coupon-list py-2 px-4">
    <div>
      <div
        class="coupon bg-white cursor-pointer"
        *ngFor="let x of [1, 1, 1]"
        (click)="modal.dismiss('Cross click')"
      >
        <div class="row rowZeroPadding height-100perCent">
          <div
            class="col-12 col-lg-4 coupon-grey rowZeroPadding height-100perCent"
          >
            <p
              class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
            >
              FLAT 1000
            </p>
          </div>
          <div class="col-12 col-lg-8 rowZeroPadding height-100perCent">
            <div class="couponTextInfo">
              <div>
                <p
                  class="font-18 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom"
                >
                  FLAT 1000
                </p>
                <p
                  class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom pt-1"
                >
                  Valid till May 29 2024
                </p>
              </div>
              <div>
                <p
                  class="font-16 font-weight-700 font-lato zero-margin-bottom zero-padding-bottom pt-1"
                >
                  Flat 1000 off on Preset jewellery (No Minimum bill value
                  required)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
