<app-advertisement-header></app-advertisement-header>
<app-header></app-header>
<section>
  <div class="container-xl">
    <div
      class="navigation padding-y-2rem width-50 d-flex justify-space-between"
    >
      <i class="fa-solid font-21 font-weight-700 fa-arrow-left"></i>
      <p
        class="font-lato font-21 font-weight-700 text-align-center letter-spacing-02 text-black line-height-24"
      >
        Shopping Cart
      </p>
    </div>

    <div class="font-lato font-21 font-weight-700 text-align-center letter-spacing-02 text-black line-height-24">
        My Cart
    </div>
    <div class="">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cartItem">
                    
                </div>
            </div>
            <div class="col-12 col-lg-4">

            </div>
        </div>
    </div>
  </div>
</section>
