/* You can add global styles to this file, and also import other style files */
//root font
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif !important;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

//Prime icons styles
@import "primeicons/primeicons.css";

//ng select styles
@import "@ng-select/ng-select/themes/default.theme.css";

//swiper styles
@import "swiper/swiper-bundle.min.css";

// lato font
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container-xl {
  max-width: 1720px !important;
}

//utilities
.default-section-padding {
  padding: 20px 0;
}
.font-lato {
  font-family: "Lato", sans-serif !important;
}
.text-black {
  color: #020724 !important;
}
.text-white {
  color: #ffffff;
}
.text-grey {
  color: #6b6c73 !important;
}
.text-light-grey {
  color: #ffffffcc;
}
.text-red {
  color: #dd2e44;
}
.text-discount-grey {
  color: #02072480;
}
.test-icon-star {
  color: #999999;
}

.bg-white {
  background-color: #ffffff;
}
.bg-blue-black {
  background-color: #020724 !important;
}
.bh-section-grey {
  background-color: #f0f0f0;
}
.bg-best-sellers {
  background: #d8dbe2;
}

.bg-light-grey {
  background-color: rgb(204, 205, 211);
}
.bg-footer-light-grey {
  background: #f2f2f2 !important;
}
.font-10 {
  font-size: 10px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-27 {
  font-size: 27px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-35 {
  font-size: 35px !important;
}
.font-40 {
  font-size: 40px;
}
.font-50 {
  font-size: 50px;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.letter-spacing-02 {
  letter-spacing: 0.02em;
}
.letter-spacing-03 {
  letter-spacing: 0.03em;
}
.letter-spacing-04 {
  letter-spacing: 0.04em;
}
.letter-spacing-08 {
  letter-spacing: 0.08em;
}
.letter-spacing-3point8px {
  letter-spacing: 3.84px;
}
.letter-spacing-1point2px {
  letter-spacing: 1.2px;
}
.line-height-13 {
  line-height: 13px;
}
.line-height-19 {
  line-height: 19px;
}
.line-height-24 {
  line-height: 24px;
}
.line-height-38 {
  line-height: 38px;
}
.line-height-48 {
  line-height: 48px;
}
.line-height-60 {
  line-height: 60px;
}
.line-height-70 {
  line-height: 70px;
}
.none-outline {
  outline: none;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.border-radius-50 {
  border-radius: 50%;
}
.border-radius-5px {
  border-radius: 5px;
}
.border-radius-10px {
  border-radius: 10px !important;
}
.default-box-shadow {
  box-shadow: 2px 4px 4.6px 2px #00000040;
}
.default-border {
  border: 1px solid #d9d9d9;
}
.zero-padding-bottom {
  padding-bottom: 0 !important;
}
.padding-x-2rem {
  padding: 0rem 2rem !important;
}
.padding-y-2rem {
  padding: 2rem 0rem !important;
}
.zero-padding-right {
  padding-right: 0 !important;
}
.zero-margin-bottom {
  margin-bottom: 0 !important;
}
.padding-left-10px {
  padding-left: 10px !important;
}
.padding-right-10px {
  padding-right: 10px !important;
}
.margin-right-10px {
  margin-right: 10px !important;
}
.uppercase{
  text-transform: uppercase;
}
.display-block {
  display: block;
}
.display-inline--block {
  display: inline-block;
}
.height-50px {
  height: 50px;
}
.min-height-50px {
  min-height: 50px;
}
.height-60px {
  height: 60px;
}
.height-80vh {
  height: 80vh;
}
.height-100perCent {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.padding-10 {
  padding: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.rotate-180 {
  transform: rotate(180deg);
}
.flip-opposite {
  transform: scaleX(-1);
}
.flip-90 {
  transform: rotate(90deg);
}
.border-left-none {
  border-left: none !important;
}
.border-right-none {
  border-right: none !important;
}
.border-top-right-30 {
  border-top-right-radius: 30px !important;
}
.border-bottom-right-30 {
  border-bottom-right-radius: 30px !important;
}
.border-top-left-30 {
  border-top-left-radius: 30px !important;
}
.border-bottom-left-30 {
  border-bottom-left-radius: 30px !important;
}
.overflow-hidden {
  overflow: hidden;
}
.text-decoration-line-through {
  text-decoration: line-through;
}
.text-decoration-initial{
  text-decoration: initial !important;
}
.text-decoration-none {
  text-decoration: none !important;
}

.bg_transparent{
  background-color: transparent !important;
}

.border_color_white{
  border-color: white !important;
}

.b_r_5{
  border: 2px solid white !important;
}

// flex class
.d_flex{
  display: flex;
}
.align-item-baseline{
align-items: baseline;
}
.align-item-center{
align-items: center;
}
.justify-center{
justify-content: center;
}
.justify-space-between{
justify-content: space-between;
}
.justify-space-around{
justify-content: space-around;
}
.justify-space-evenly{
justify-content: space-evenly;
}
.justify-flex-end{
justify-content: flex-start;
}
.justify-flex-start{
  justify-content: flex-end;
}
#mainHeader {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
#mainHeader .form-control:focus {
  box-shadow: none !important;
  border-color: #ffffff !important;
}
#mainHeader .input-group {
  border: 2px solid #020724;
  border-radius: 10px !important;
  overflow: hidden !important;
}
#mainHeader .form-control::placeholder {
  font-weight: 700;
  font-size: 14px;
}
.small-device-d-none {
  display: block;
}
.small-device-d-block {
  display: none;
}
.medium-device-d-none {
  display: block;
}
.responsiveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.responsiveImage-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
//toggle button prime ng
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: black;
  border: 1px solid #ffffff;
}
//modified offcanvas
.offcanvas.offcanvas-start {
  width: 70vw !important;
}
.offcanvas.offcanvas-end {
  width: 70vw !important;
}
.closeOffcanvas {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #020724;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
.closeOffcanvasLeft{
    height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #020724;
  border-radius: 50%;
  top: 10px;
  left  : 10px;
}
.filter-class {
  opacity: 1 !important;
  filter: blur(5px) !important;
}
//swiper slides

.swiper-pagination-bullet {
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #020724;
  opacity: 1;
  width: 25px;
  border-radius: 30px;
}
//.swiper-slide-active .swiperBlockFlex{
//  background-color:black !important;
//  width:1000vw !important;
//}

#bestSellerSwiper .swiper-slide .hexagonBlock {
  filter: grayscale(100%) !important;
    transition: all 0.3s ease;
}
#bestSellerSwiper .swiper-slide {
 transition: transform 0.5s ease,

}
#bestSellerSwiper .swiper-slide-active .hexagonBlock {
  filter: grayscale(0) !important;
 transition: transform 0.5s ease,
}
// #bestSellerSwiper  .swiper-slide-next{
//   transform: scale(0.7) !important;
//    transition: transform 0.5s ease,
// }
// #bestSellerSwiper  .swiper-slide-prev{
//   transform: scale(0.7) !important;
//  transition: transform 0.5s ease,
// }
//progressbar
.progress-bar {
  background: #020724 !important;
  border-radius: 5px !important;
  height: 35px !important;
}
.progress,
.progress-stacked {
  height: 35px !important;
}

//mat-slider

mat-slider {
  width: 95% !important;
}
.mdc-slider__input {
  padding: 0 !important;
}

.mat-slider-thumb {
  background-color: grey !important; /* Custom color */
}

.mat-slider-track-fill {
  background-color: #ff4081 !important; /* Custom color */
}

//product tabs
#modifyProductTabs .nav-link {
  color: #020724;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04em;
  line-height: 22px;
  border-radius: 0;
  font-size: 18px;
}
#modifyProductTabs .nav-pills .nav-link.active {
  background-color: #ffffff;
  border-bottom: 4px solid #020724;
  color: #020724 !important;
}
#reviewSection .nav-link {
  color: #020724;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04em;
  line-height: 22px;
  border-radius: 0;
  font-size: 18px;
}

#reviewSection .nav-pills .nav-link.active {
  background: #020724 !important;
  color: #ffffff;
}

#verticalTabs {
  height: 265px;
  width: 100%;
  overflow-y: auto;
}

#verticalTabs .nav-link {
  color: #020724;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 2px solid #020724;
  box-shadow: 4px 5px 5px 0 #00000040;
}

#verticalTabs .nav-pills .nav-link.active {
  background: #a9bcd0;
}
// Scrollbar

#verticalTabs::-webkit-scrollbar {
  width: 8px;
  height: 5px !important;
  border-radius: 10px !important;

  border: 1px solid #d5d5d5;
  /* Adjust the scrollbar width */
}

#verticalTabs::-webkit-scrollbar-thumb {
  background: #a9bcd0;
  /* Set the default color of the scrollbar thumb to blue */
margin: 5px !important;

  border-radius: 10px;
}

#verticalTabs::-webkit-scrollbar-thumb:hover {
  background: #a9bcd0;
  /* Set the color of the scrollbar thumb when hovered to dark blue */
  width: 6px !important;
}

#verticalTabs::-webkit-scrollbar-track {
  background: #020724;
  width: 8px !important;
  border-radius: 10px !important;

  /* Change the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 223);
}
//mat slider 
 #blueSlider .mat-slider-thumb {
  background-color: blue !important;
}

#blueSlider .mat-slider-track-fill {
  background-color: blue !important;
}

#blueSlider .mat-slider-track-background {
  background-color: lightblue !important; /* Adjust if needed */
}

small{
  color: red;
  font-weight: 800;
}

//SOME MEDIA QUERIES FOR UTILITY CLASSES
@media (max-width: 600px) {
  .offcanvas.offcanvas-start {
    width: 100vw !important;
  }
  .offcanvas.offcanvas-end {
    width: 100vw !important;
  }
  .font-40 {
    font-size: 20px;
  }
  .font-35 {
    font-size: 18px !important;
  }
  .font-27 {
    font-size: 18px !important;
  }
}


//ngx input override
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
  border: none !important;
    // width: 290px !important;
    width: 100% !important;
    height: 55px  !important;
}
.iti__selected-flag{
  padding: 0px 10px 0px 18px !important;
  border-right:1px solid #DEE2E6 !important;
}
.iti--allow-dropdown input:focus-visible{
  border: none !important;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
  padding-left: 72px !important;
}
.custom:focus-visible{
  border: none !important;
  outline: none !important;
}
.p-button{
  background-color: #020724 !important;
  border: none !important;
}
.ng-select .ng-select-container{
  border: 1px solid #ffffff !important;
}
.menuTitle{
  font-size: 20px;
  font-family: 'Lato';
  font-weight: 600;
  line-height:24px;
  padding: 5px 0;
}
button:disabled{
  cursor: no-drop;
}
.breadCrumb{
  padding-bottom: 14px;
}

.shopCategoryImageHolder {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.mirrorBody:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 25px;
  background-color: #020724;
  top: -25px;
  // clip-path: polygon(40% 0, 60% 0, 68% 61%, 75% 100%, 25% 100%, 31% 59%);
clip-path: polygon(41% 0, 58% 0, 61% 44%, 64% 74%, 69% 100%, 30% 100%, 34% 76%, 37% 44%);
}

#changePButtonsStyles .p-button {
  border-radius: 10px !important;
  font-family: "Lato", sans-serif !important;
}
.p-overlaypanel .p-overlaypanel-content{
  padding: 5px !important;
}
.p-button:focus{
  box-shadow: none !important;
}
html .mat-accent {
  --mdc-circular-progress-active-indicator-color:#020724 !important ;
}
html .mat-accent {
  --mat-slider-ripple-color: #020724;
  --mat-slider-hover-state-layer-color: rgba(255, 64, 129, 0.05);
  --mat-slider-focus-state-layer-color: rgb(0 0 0 / 20%);
  --mdc-slider-handle-color: #020724;
  --mdc-slider-focus-handle-color: #020724;
  --mdc-slider-hover-handle-color: #020724;
  --mdc-slider-active-track-color: #020724;
  --mdc-slider-inactive-track-color: #020724;
  --mdc-slider-with-tick-marks-inactive-container-color: #020724;
  --mdc-slider-with-tick-marks-active-container-color: white;
}