<section class="default-section-padding bg-footer-light-grey pt-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">All Jewellery</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Earrings</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Necklaces</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Bracelets</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Mens Jewellery</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Gift Boxes</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">New Arrivals</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Track Order</p>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="font-lato font-weight-600 line-height-19 font-16 letter-spacing-3point8px text-black">REVIEWS AND DEALS</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Offers and Deals</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Happy Customers Gallery</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Track Order</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Customer Reviews</p>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="font-lato font-weight-600 line-height-19 font-16 letter-spacing-3point8px text-black">JOIN OUR COMMUNITY</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Aayra Affiliate Program</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Fashion Blog</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Just for fun</p>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="font-lato font-weight-600 line-height-19 font-16 letter-spacing-3point8px text-black">SIGN UP AND SAVE</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black width-70Percent">Subscribe to get special offers, free
          giveaways, and once-in-a-lifetime deals.</p>
        <input class="customInputFooter bg-footer-light-grey p-2 width-70Percent font-weight-400 font-16 text-black line-height-19 mb-2" type="text" placeholder="Enter your email">
        <div class="socialIconsFooterFlex my-3">
          <i class="fa-brands fa-instagram text-black cursor-pointer font-20"></i>
          <i class="fa-brands fa-facebook text-black cursor-pointer font-20"></i>
          <i class="fa-brands fa-youtube text-black cursor-pointer font-20"></i>
          <i class="fa-brands fa-twitter text-black cursor-pointer font-20"></i>
          <i class="fa-brands fa-linkedin-in text-black cursor-pointer font-20"></i>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <p class="font-lato font-weight-600 line-height-19 font-16 letter-spacing-3point8px text-black">CONTACT US</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Aayra E-Commerce Private Limited</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">queries&#64;Aayra.co.in</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Whatsapp Us</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Pamposh Enclave, GK-1 Delhi - 110048</p>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-12">

        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">About us</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Privacy Policy</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Terms of Service</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Refund policy</p>
        <p class="font-lato font-weight-400 font-14 line-height-19 text-black">Shipping Policy</p>
      </div>
    </div>

    <div class="row mt-4 pb-3">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12">
        <p class="text-align-left font-16 font-weight-600 letter-spacing-1point2px line-height-24">Womens Jewellery by Colour:</p>
        <div class="colorCategoryFlex">
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Gold Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Silver Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Yellow Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">White Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Pink Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Purple Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Brown Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Red Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Green Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Rose Gold Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Multi - Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Black Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Black Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Blue Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Beige Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Grey Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Bronze Colour Jewellery</p>
          </div>
          <div class="colorCategoryHolder px-2 pb-1">
            <p class="font-14 font-lato line-height-13 font-weight-400 zero-padding-bottom zero-margin-bottom">Turquoise Colour Jewellery</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute topLeftFooterImageHolder small-device-d-none">
    <img class="responsiveImage-contain" src="assets/images/footerFloatLeftTop.png">
  </div>
  <div class="position-absolute bottomLeftFooterImageHolder small-device-d-none">
    <img class="responsiveImage-contain" src="assets/images/footerFloatLeftBottom.png">
  </div>
  <div class="position-absolute rightFooterImageHolder small-device-d-none">
    <img class="responsiveImage-contain" src="assets/images/footerFloatRight.png">
  </div>
</section>
<section class="bg-blue-black py-2">
  <div class="sponsorsFlex">
    <div class="sponsorContainer bg-white p-1 m-1" *ngFor="let sponsor of [1,1,1,1,1,1,1,1,1,1,1]">
      <i class="fa-brands fa-amazon text-black"></i>
    </div>
  </div>
</section>
<section class="py-2">
  <p class="font-weight-500 text-align-center font-lato font-14 zero-margin-bottom zero-padding-bottom">© 2024 Aayra All Rights Reserved.</p>
</section>
